## Directories that should always be ignored

# Subversion
.svn

# Test
/test

## Directories and files from `svn checkout` that should not be committed

# NOTE: We could remove these files in `script/1-update`, but `svn checkout`
#   always restores them. By ignoring them here, `svn checkout` does not restore
#   them unless they're changed.

# Ignore these: contain DLLs and EXEs, not needed for Homebrew

/texk/texlive/w32_wrapper
/texk/texlive/w64_wrapper

# Ignore these: installed from the source build

/texmf-dist/texconfig/tcfmgr
/texmf-dist/texconfig/tcfmgr.map

/texmf-dist/web2c/fmtutil.cnf

# Ignore all but these: found only in Master

/info/*
!/info/tds.info
!/info/web2c.info

/texmf-dist/scripts/texlive/*
!/texmf-dist/scripts/texlive/mktexlsr.pl

/tlpkg/*
!/tlpkg/README
!/tlpkg/TeXLive
