# Subversion directories
.svn

# Test directory
/test

# The following are directories and files that we do not want to commit. We
# previously removed them in `script/1-update`; however, `svn checkout` would
# constantly restore them. By ignoring them here, `svn` will not restore them
# unless they are changed.

# These contain DLLs and EXEs and are not used by configure or needed for
# Homebrew.
/texk/texlive/w32_wrapper
/texk/texlive/w64_wrapper

# These are installed from the source build.
/texmf-dist/texconfig/tcfmgr
/texmf-dist/texconfig/tcfmgr.map
/texmf-dist/web2c/fmtutil.cnf

# These are found only in Master.
/texmf-dist/scripts/texlive/*
!/texmf-dist/scripts/texlive/mktexlsr.pl

# These are found only in Master.
/tlpkg/*
!/tlpkg/README
!/tlpkg/TeXLive
